{% extends "base.html" %}

{% block title %}{{ unit.name }} - {{ assignment.name }} - {{ submission.user.username }}{% endblock %}

{% block content %}
    <h1>{{ assignment.name }} by {{ submission.user.username }}</h1>
    <p>Submitted on {{ submission.date }}</p>
    <pre>{{ submission.solution }}</pre>
    {% if submission.marked %}
    <p>{{ submission.mark}} / {{ assignment.total }}</p>
    <div>
        {% if submission.feedback %}
        <p>{{ submission.feedback }}</p>
        {% else %}
        <p>No feedback has been given.</p>
        {% endif %}
        {% else %}
    </div>
    <p>Submission has not been marked</p>
    {% endif %}
    {% if user.is_staff %}
        <p><a href="{% url 'decentmark:submission_mark' submission.id %}">Mark this submission</a></p>
    {% endif %}
    <p><a href="{% url 'decentmark:submission_list' assignment.id %}">Return to Submissions</a></p>
{% endblock %}
