{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'decentmark/base.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block title %}Unit List{% endblock %}

{% block content %}
    <h1>List of Units</h1>

    <ul>
    {% for unit in unit_list %}
        <li>
            <a href="{% url 'decentmark:unit_view' unit.id %}">{{ unit.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <div>
    {% if user.is_staff %}
        <a href="{% url 'decentmark:unit_create' %}">Create new unit</a>
    {% endif %}
    </div>
{% endblock %}
